<launch>

    <!-- Bridge for car control commands (ROS 2 -> Gazebo) -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="command_bridge"
          args="/automobile/command@std_msgs/msg/String@gz.msgs.StringMsg"/>

    <!-- Bridge for car feedback (Gazebo -> ROS 2) -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="feedback_bridge"
          args="/automobile/feedback@std_msgs/msg/String[gz.msgs.StringMsg"/>

    <!-- Bridge for IMU sensor (Gazebo -> ROS 2) -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="imu_bridge"
          args="/automobile/IMU@geometry_msgs/msg/Vector3[gz.msgs.Vector3d"/>

    <!-- Bridge for GPS/Localisation sensor (Gazebo -> ROS 2) -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="gps_bridge"
          args="/automobile/localisation@geometry_msgs/msg/Pose[gz.msgs.Pose"/>

    <!-- Bridge for original camera (Gazebo -> ROS 2) -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="camera_bridge"
          args="/automobile/image_raw@sensor_msgs/msg/Image[gz.msgs.Image"/>

    <!-- Bridge OAK-D RGB -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_rgb_bridge"
          args="/oak/rgb/image_raw@sensor_msgs/msg/Image[gz.msgs.Image"/>
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_rgb_info_bridge"
          args="/oak/rgb/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo"/>

    <!-- Bridge OAK-D Depth -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_depth_bridge"
          args="/oak/stereo/image_raw@sensor_msgs/msg/Image[gz.msgs.Image"/>
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_depth_info_bridge"
          args="/oak/stereo/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo"/>

    <!-- Bridge OAK-D Mono LEFT -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_left_bridge"
          args="/oak/left/image_raw@sensor_msgs/msg/Image[gz.msgs.Image"/>
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_left_info_bridge"
          args="/oak/left/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo"/>

    <!-- Bridge OAK-D Mono RIGHT -->
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_right_bridge"
          args="/oak/right/image_raw@sensor_msgs/msg/Image[gz.msgs.Image"/>
    <node pkg="ros_gz_bridge" exec="parameter_bridge" name="oak_right_info_bridge"
          args="/oak/right/camera_info@sensor_msgs/msg/CameraInfo[gz.msgs.CameraInfo"/>

</launch>
