<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Core: world + player car + ROS2<->Gazebo bridges + sensors -->
  <include file="$(find-pkg-share sim_pkg)/launch/gazebo.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/car.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/bridge.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/pointcloud.launch"/>

  <node pkg="oak_mono_converter" exec="mono_converter"    name="oak_mono_converter"/>
  <node pkg="oak_mono_converter" exec="sensor_converter"  name="sensor_converter"/>

  <!-- Traffic infrastructure -->
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/traffic_lights.launch"/>

  <!-- Signs -->
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/stop_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/priority_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/crosswalk_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/parking_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/oneway_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/roundabout_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/enter_highway_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/leave_highway_signs.launch"/>
  <include file="$(find-pkg-share sim_pkg)/launch/sublaunchers/prohibited_signs.launch"/>

</launch>
